#set($query = $services.lucene.createQuery())
#set($devNull = $query.addRestriction($services.lucene.createRestriction("Celements2.PageType.page_type", '"DMS-Document"')))


#set($luceneQuery = "${query.getQueryString()} AND NOT ${services.lucene.createRestriction('space', $documentTemplate).getRestriction()}")
#set($results = $xwiki.lucene.getSearchResults($luceneQuery, "title" ,"default,de"))
#set($resultList = $results.getResults())
$xwiki.includeForm('LocalMacros.displayFolderContent', false)