##$celementsweb.addExtJSfileOnce(':celJS/celDMS/celJSdmsDocumentUploader.js', 'file')
$celementsweb.addExtJSfileOnce(':celJS/uploadAttachment.js', 'file')
$celementsweb.addExtJSfileOnce('Tools.DMSDictionary;dmsDocumentUploader.js', 'file')
#macro(showAttachmentsList $attachmentsDoc)
    ###
    ### List document attachments
    ###
    #if("$!redirect" == '')
    #if("$!request.xredirect" != '')
    #set($redirect = $request.xredirect)
    #else
    #set($redirect = "${doc.getURL()}#Attachments")
    #end
    #end
    #set($showactions = 0)
    #set($attachments = $attachmentsDoc.attachmentList)
        <div id="attachmentscontent" class="xwikiintracontent">
        <div id="attw">
          <div id="_attachments">
    #if($attachments.size()>0)
    #foreach ($attach in $attachments)
            <div class="attachment #if($velocityCount % 2 == 0) even #else odd #end">
              <span class="mime">#mimetypeimg($attach.getMimeType().toLowerCase() $attach.getFilename().toLowerCase())</span>
              <div class="information">
              <span class="name"><a href="$attachmentsDoc.getAttachmentURL(${attach.filename}, 'download')" title="$msg.get('core.viewers.attachments.download')" target="_blank">#packName($attach.filename)</a></span>
              <span class="version"><a href="$attachmentsDoc.getAttachmentURL(${attach.filename}, 'viewattachrev')" title="$msg.get('core.viewers.attachments.showHistory')">$attach.version</a></span>
              <div class="meta">
              <span class="publisher">$msg.get('core.viewers.attachments.author', [$xwiki.getUserName($attach.author)])</span>
              <span class="date">$msg.get('core.viewers.attachments.date', [$!xwiki.formatDate($attach.date)])</span>
              <span class="size">(#dynamicsize($attach.filesize))</span>
              </div>
              </div>
            </div> ## row
    #end ## foreach
    #else ## No attachments
    <p class="noitems">$msg.get('core.viewers.attachments.noAttachments')</p>
    #end
          </div> ## attachments
          </div> ## attw
        </div> ## attachmentscontent    
#end

#macro(includeFileUpload $attachmentsDoc $teilnehmer)
<div id="celdms_UploadArea">
<form id="celdms_upload_Form" action="$doc.getURL('view')" method="post" enctype="multipart/form-data"> 
   <div id="progressBar" style="display:none">
      <img src="$services.celementsweb.getSkinFile(':celRes/ajax-loader.gif', 'file')" />
    </div>
      <input type="hidden" class="celIgnoreDirty" name="xredirect" value="" /> 
      <input type="hidden" class="celIgnoreDirty" id="celfileuploadToken" name="uploadToken" value="" />
      <input style="display:none" class="celIgnoreDirty celfileupload celSupressAttachmentList" name="filepath" type="file" size="50" />
      <span id="celdms_getTokenNotice">Der Upload wird überprüft...</span>
</form>
</div>
#end

<div id="celdms_document_editor" class="celdms_editor">
<form id="dms_document_editor_form" method="post" action="?" onsubmit="cancelCancelEdit()">
<input type="hidden" name="xpage" value="celements_ajax" />
<input type="hidden" name="ajax_mode" value="saveDocumentWithValidation" />
<input type="hidden" name="createIfNotExists" value="true" />
<input type="hidden" name="template" value="$!request.get('template')" />
<input type="hidden" name="xredirect" value="$!request.get('xredirect')" />

#set($cel_editobj_dict_prefix = 'celdms_editor_')
#set($cel_editobj_externalForm = true)  
#set($cel_embedded_editobj = true)
#set($cel_editobj_title = $adminMsg.get('celdms_document_edit'))
#set($cel_editobj_hasObjAddLink = false)
#set($cel_editobj_hasObjRemoveLink = false)
<div id="edit_celdms_document" class="edit_celdms_section">
<div id="edit_celdms_document_left" class="celdms_edit_column_left">
#set($cel_curObj = '')
#set($cel_curObj = $doc.getObject('DMSClasses.DocumentClass', false))
#if("$!cel_curObj.getProperty('docname').getValue()" == '')
  #set($editorTitle = $adminMsg.get('celdms_document_create'))
#else
  #set($editorTitle = $adminMsg.get('celdms_document_edit', ["<span class='celdms_docname'>$!cel_curObj.getProperty('docname').getValue()</span>"]))
#end
<h1>$!editorTitle</h1>
#set($cel_editobj_classname = "DMSClasses.DocumentClass")
#set($cel_editobj_nb = $cel_curObj.getNumber())
#set($cel_editobj_properties = "docname,status,author")
  $xwiki.includeForm('celements2web:Templates.ObjectEdit',false)
</div>
<div id="edit_celdms_document_right" class="celdms_edit_column_right">
#set($cel_editobj_properties = "version,keywords")
  $xwiki.includeForm('celements2web:Templates.ObjectEdit',false)
</div>
</div>
#if("$!request.labelFN" != '')
 #set($labelDefObj = $doc.getObject('DMSClasses.LabelRefClass'))
 <input type="hidden" name="DMSClasses.LabelRefClass_${labelDefObj.getNumber()}_label_ref"##
  value="$!request.labelFN" />
#end
##TODO add label edit
</form>
<div class="edit_celdms_section">
#if(!$doc.isNew())
#set($xwikiUserName = $currentXWikiUserName.replaceAll('^XWiki\.', ''))
<h2>Dokument upload</h2>
<p>#includeFileUpload($doc $xwikiUserName)</p>
#set($attachmentsDoc = $doc)
##TODO change to #parse('celMacros/celDMS/showAttachmentsList.vm')
$xwiki.includeForm('LocalMacros.showAttachmentsList', false)
#else
Upload steht erst nach dem Anlegen zur Verfügung.<br/>
Bitte speichern Sie das neue Dokument um es zu erstellen.
#end
</div>
</div>