<a href="?xpage=celements_ajax&ajax_mode=createDocument&docType=DMS-Document"><img src="$services.celementsweb.getSkinFile(':icons/silk/add.gif', 'file')">Neues Dokument anlegen</a>
#set($query = $services.lucene.createQuery())
#set($devNull = $query.addRestriction($services.lucene.createRestriction("Celements2.PageType.page_type", '"DMS-Document"')))
#set($q = '"')
#set($labelVal = "${q}${doc.getFullName()}${q}")
#set($devNull = $query.addRestriction($services.lucene.createRestriction("DMSClasses.LabelRefClass.label_ref", $labelVal)))
#set($luceneQuery = "$query.getQueryString()")
#set($results = $xwiki.lucene.getSearchResults($luceneQuery, "title" ,"default,de"))
#set($resultList = $results.getResults())
$xwiki.includeForm('LocalMacros.displayFolderContent', false)
