#set($docType = $request.get('docType'))
#*
#if($services.org.isValidDocType("$!docType"))
  #set($editURL = $services.org.getDocumentCreateLink("$!docType"))
  $response.sendRedirect($editURL)
*#
#if("$!docType" == 'DMS-Document')
  #set($labelFN = $services.model.serialize($doc.documentReference, 'local'))
  #set($newDocFN = $celementsweb.getNextTitledPageFullName($doc.getSpace(), 'Document'))
  #set($xredirect = "$escapetool.url($doc.getURL('view'))")
  #set($editURL = $xwiki.getURL($newDocFN, 'inline', "labelFN=$labelFN&template=DMS-Templates.DMS-Document&xredirect=$!{xredirect}"))
  $response.sendRedirect($editURL)
#else
  Invalid doc type: $!docType
#end