##INPUT $resultList of lucene results
<div style="position: relative;">
  <table class="folderContent" style="width: 100%;">
    <thead>
      <tr>
        <th>Titel</th>
        <th>Letzte &auml;nderung</th>
        <th>Autor</th>
        <th>Version</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      #foreach($result in $resultList)
        <tr>
          #set($tmpdoc = $xwiki.getDocument($services.model.resolveDocument("${result.fullName}")))
          #set($tmpobj = $tmpdoc.getObject('DMSClasses.DocumentClass'))
          <td>
            <a href="$tmpdoc.getURL()">
              $!tmpobj.getProperty('docname').getValue()
            </a>
          </td>
          <td>
            <a href="$tmpdoc.getURL()">
              $!datetool.format("dd.MM.yyyy HH:mm", $tmpdoc.getDate())
            </a>
          </td>
          <td>
            <a href="$tmpdoc.getURL()">
              $!tmpobj.getProperty('author').getValue()
            </a>
          </td>
          <td>
            <a href="$tmpdoc.getURL()">
              $!tmpobj.getProperty('version').getValue()
            </a>
          </td>
          <td>
            <a href="$tmpdoc.getURL()">
              $!xwiki.getDocument($!tmpobj.getProperty('status').getValue()).getTitle()
            </a>
          </td>
        </tr>
      #end
    </tbody>
  </table>
</div>