##INPUT $resultList of lucene results
<table class="folderContent">
#foreach($result in $resultList)
  <tr>
    #set($tmpdoc = $xwiki.getDocument($services.model.resolveDocument("${result.fullName}")))
    <td>
      <!-- $tmpdoc.getFullName() -->
      $!tmpdoc.getTitle()
    </td>
    <td>
      $!datetool.format("dd.MM.yyyy HH:mm", $tmpdoc.getDate())
    </td>
    #set($tmpobj = $tmpdoc.getObject('DMSClasses.DocumentClass'))
    <td>
      $!tmpobj.getProperty('author').getValue()
    </td>
    <td>
      $!tmpobj.getProperty('version').getValue()
    </td>
    <td>
      $!xwiki.getDocument($!tmpobj.getProperty('status').getValue()).getTitle()
    </td>
  </tr>
#end
</table>