celdms_document_create=Dokument erstellen
celdms_document_edit=Dokument "{0}" bearbeiten
celdms_editor_docname=Dokumenten Name
celdms_editor_status=Status
celdms_editor_author=Autor
celdms_editor_version=Version
celdms_editor_keywords=Stichworte
